body {
    background-color: ghostwhite;
    color: brown;
}
main {
    /* background-color: floralwhite; */
    background-color: azure;
    min-height: 84vh;
}
header .navbar-nav {
    margin-left: auto;
}
.col {
    margin: 15px auto;
}
.uploader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1,
h2,
h3 {
    text-align: center;
    color: brown;
}
.profileTitle {
    border-bottom: 2px solid brown;
}
.linkcenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
